<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.badlogic.gdx.pay.android.amazon">

    <application>

        <!-- IAP -->
        <receiver
                android:name="com.amazon.device.iap.ResponseReceiver"
                tools:ignore="ExportedReceiver,InvalidPermission" android:exported="false">
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"
                    />
            </intent-filter>
        </receiver>

    </application>

</manifest>
