# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Compile and publish snapshot

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK from .java-version
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version-file: '.java-version'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup Android build environment
      uses: android-actions/setup-android@v2.0.2
    - name: Compile
      run: ./gradlew publishToMavenLocal
    - name: Publish snapshot
      env:
        NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
        NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      run: ./gradlew publish
